@{
    ViewData["Title"] = "Dictionary";
    var userName = ViewData["UserName"] as string;
}

<h2>歡迎 @ViewData["UserName"]</h2>

<h2>後台首頁Dictionary</h2>
<p>歡迎, @userName!</p>


<div class="portfolio gutters grid img-container" style="position: relative; height: 946.134px;">
    <div class="grid-sizer col-sm-12 col-md-6 col-lg-3"></div>
    <div class="grid-item branding  col-sm-12 col-md-6 col-lg-3" style="position: absolute; left: 0%; top: 0px;">
        <a href="~/images/admin/port1.png" title="project name 1">
            <div class="project_box_one">
                <img src="~/images/admin/port1.png" alt="pro1">
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>project name</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item  branding architecture  col-md-6 col-lg-3" style="position: absolute; left: 24.9699%; top: 0px;">
        <a href="~/images/admin/port2.png" title="project name 2">
            <div class="project_box_one">
                <img src="~/images/admin/port2.png" alt="pro1">
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>project name</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item  design col-sm-12 col-md-6 col-lg-3" style="position: absolute; left: 49.9398%; top: 0px;">
        <a href="~/images/admin/port3.png" title="project name 5">
            <div class="project_box_one">
                <img src="~/images/admin/port3.png" alt="pro1">
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>project name</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item  photography design col-sm-12 col-md-6 col-lg-3" style="position: absolute; left: 74.9889%; top: 0px;">
        <a href="~/images/admin/port4.png" title="project name 5">
            <div class="project_box_one">
                <img src="~/images/admin/port4.png" alt="pro1">
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>project name</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item  branding photography  col-sm-12 col-md-6 col-lg-3" style="position: absolute; left: 0%; top: 315px;">
        <a href="~/images/admin/port5.png" title="project name 5">
            <div class="project_box_one">
                <img src="~/images/admin/port5.png" alt="pro1">
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>project name</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item   architecture design col-sm-12 col-md-6 col-lg-3" style="position: absolute; left: 24.9699%; top: 315px;">
        <a href="~/images/admin/port6.png" title="project name 5">
            <div class="project_box_one">
                <img src="~/images/admin/port6.png" alt="pro1">
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>project name</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item  photography architecture col-sm-12 col-md-6 col-lg-3" style="position: absolute; left: 49.9398%; top: 315px;">
        <a href="~/images/admin/port7.png" title="project name 5">
            <div class="project_box_one">
                <img src="~/images/admin/port7.png" alt="pro1">
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>project name</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item  branding design  col-sm-12 col-md-6 col-lg-3" style="position: absolute; left: 74.9889%; top: 315px;">
        <a href="~/images/admin/port8.png" title="project name 5">
            <div class="project_box_one">
                <img src="~/images/admin/port8.png" alt="pro1">
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>project name</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item architecture  col-sm-12 col-md-6 col-lg-3" style="position: absolute; left: 0%; top: 630px;">
        <a href="~/images/admin/port9.png" title="project name 4">
            <div class="project_box_one">
                <img src="~/images/admin/port9.png" alt="pro1">
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>project name</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item  photography architecture col-sm-12 col-md-6 col-lg-3" style="position: absolute; left: 24.9699%; top: 630px;">
        <a href="~/images/admin/port10.png" title="project name 5">
            <div class="project_box_one">
                <img src="~/images/admin/port10.png" alt="pro1">
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>project name</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item  branding design  col-sm-12 col-md-6 col-lg-3" style="position: absolute; left: 49.9398%; top: 630px;">
        <a href="~/images/admin/port11.png" title="project name 5">
            <div class="project_box_one">
                <img src="~/images/admin/port11.png" alt="pro1">
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>project name</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="grid-item architecture  col-sm-12 col-md-6 col-lg-3" style="position: absolute; left: 74.9889%; top: 630px;">
        <a href="~/images/admin/port4.png" title="project name 4">
            <div class="project_box_one">
                <img src="~/images/admin/port4.png" alt="pro1">
                <div class="product_info">
                    <div class="product_info_text">
                        <div class="product_info_text_inner">
                            <i class="ion ion-plus"></i>
                            <h4>project name</h4>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>