@{
    ViewData["Title"] = "AboutMe";
    var userName = ViewData["UserName"] as string;
}

<h2>歡迎 @ViewData["UserName"]</h2>

<h2>後台首頁AboutMe</h2>
<p>歡迎, @userName!</p>


<div>
    <div class="img_card">
        <div class="row justify-content-center">
            <div class="col-md-6 col-7 content_section">
                <div class="content_box">
                    <div class="content_box_inner">
                        <div>
                            <h3>
                                Just a few words about us
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus. Donec maximus ipsum non ornare vestibulum. Sed libero nibh, feugiat at enim id, bibendum sollicitudin arcu. Aliquam elit nibh, finibus eget mauris non, pretium vehicula ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            </p>
                            <!--=================== counter start====================-->
                            <div class="pt50">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-md-4">
                                        <div class="counter_box">
                                            <div class="divider"></div>
                                            <span class="counter">12</span>
                                            <h5>Years of experience</h5>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="counter_box">
                                            <div class="divider"></div>
                                            <span class="counter">257</span>
                                            <h5>happy clients</h5>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="counter_box">
                                            <div class="divider"></div>
                                            <span class="counter">192</span>
                                            <h5>projects completed</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--=================== counter end====================-->
                        </div>
                        <!--===================testimonial start====================-->
                        <div class="testimonial_carousel mt50 slick-initialized slick-slider slick-dotted">

                            <div class="slick-list draggable">
                                <div class="slick-track" style="opacity: 1; width: 5418px; transform: translate3d(-2408px, 0px, 0px);">
                                    <div class="testimonial_box slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 602px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus.
                                        </p>
                                        <div class="testimonial_author">
                                            <img src="~/images/admin/user.png" alt="author">
                                            <h5>maria smith</h5>
                                            <p>project manager <span>company</span></p>
                                        </div>
                                    </div><div class="testimonial_box slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 602px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus.
                                        </p>
                                        <div class="testimonial_author">
                                            <img src="~/images/admin/user.png" alt="author">
                                            <h5>maria smith</h5>
                                            <p>project manager <span>company</span></p>
                                        </div>
                                    </div><div class="testimonial_box slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 602px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus.
                                        </p>
                                        <div class="testimonial_author">
                                            <img src="~/images/admin/user.png" alt="author">
                                            <h5>maria smith</h5>
                                            <p>project manager <span>company</span></p>
                                        </div>
                                    </div><div class="testimonial_box slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02" style="width: 602px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus.
                                        </p>
                                        <div class="testimonial_author">
                                            <img src="~/images/admin/user.png" alt="author">
                                            <h5>maria smith</h5>
                                            <p>project manager <span>company</span></p>
                                        </div>
                                    </div><div class="testimonial_box slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide03" aria-describedby="slick-slide-control03" style="width: 602px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus.
                                        </p>
                                        <div class="testimonial_author">
                                            <img src="~/images/admin/user.png" alt="author">
                                            <h5>maria smith</h5>
                                            <p>project manager <span>company</span></p>
                                        </div>
                                    </div><div class="testimonial_box slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 602px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus.
                                        </p>
                                        <div class="testimonial_author">
                                            <img src="~/images/admin/user.png" alt="author">
                                            <h5>maria smith</h5>
                                            <p>project manager <span>company</span></p>
                                        </div>
                                    </div><div class="testimonial_box slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 602px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus.
                                        </p>
                                        <div class="testimonial_author">
                                            <img src="~/images/admin/user.png" alt="author">
                                            <h5>maria smith</h5>
                                            <p>project manager <span>company</span></p>
                                        </div>
                                    </div><div class="testimonial_box slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 602px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus.
                                        </p>
                                        <div class="testimonial_author">
                                            <img src="~/images/admin/user.png" alt="author">
                                            <h5>maria smith</h5>
                                            <p>project manager <span>company</span></p>
                                        </div>
                                    </div><div class="testimonial_box slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 602px;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus dolor. Etiam finibus consequat ante ac congue. Quisque porttitor porttitor tempus.
                                        </p>
                                        <div class="testimonial_author">
                                            <img src="~/images/admin/user.png" alt="author">
                                            <h5>maria smith</h5>
                                            <p>project manager <span>company</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="slick-dots" style="display: block;" role="tablist"><li class="" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 4" tabindex="-1">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 4" tabindex="-1">2</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 4" tabindex="-1">3</button></li><li role="presentation" class="slick-active"><button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03" aria-label="4 of 4" tabindex="0" aria-selected="true">4</button></li></ul>
                        </div>
                        <!--===================testimonial end====================-->
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-5 img_section" style="background-image: url(&#39;assets/img/bg/about.png&#39;);"></div>
        </div>
    </div>
</div>