@{
    ViewData["Title"] = "FamousArtist";
    var userName = ViewData["UserName"] as string;
}

<h2>歡迎 @ViewData["UserName"]</h2>

<h2>後台首頁FamousArtist</h2>
<p>歡迎, @userName!</p>


<div>
    <!--=================== image card start here  (has two section left and right )====================-->
    <div class="img_card">
        <div class="row justify-content-center">
            <div class="col-md-6 col-7 content_section">
                <div class="content_box">
                    <div class="content_box_inner">
                        <div class="row justify-content-center">
                            <!--=================== services boxes start here  ====================-->
                            <div class="col-md-6 col-12">
                                <div class="img_box_one text-left">
                                    <img src="~/images/admin/typo.png" alt="services icon">
                                    <div class="content">
                                        <h5>
                                            Typography Courses
                                        </h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="img_box_one text-left">
                                    <img src="~/images/admin/flask.png" alt="services icon">
                                    <div class="content">
                                        <h5>
                                            Mix and Match
                                        </h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="img_box_one text-left">
                                    <img src="~/images/admin/compass.png" alt="services icon">
                                    <div class="content">
                                        <h5>
                                            Architecture Plans
                                        </h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="img_box_one text-left">
                                    <img src="~/images/admin/magic.png" alt="services icon">
                                    <div class="content">
                                        <h5>
                                            Brand Identity
                                        </h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="img_box_one text-left">
                                    <img src="~/images/admin/idea.png" alt="services icon">
                                    <div class="content">
                                        <h5>
                                            Interior Design
                                        </h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="img_box_one text-left">
                                    <img src="~/images/admin/satelite.png" alt="services icon">
                                    <div class="content">
                                        <h5>
                                            Collateral Design
                                        </h5>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--=================== services boxes end here  ====================-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-5 img_section" style="background-image: url(&#39;assets/img/bg/service_bg.png&#39;);"></div>
        </div>
    </div>
    <!--=================== image card end here ====================-->
</div>