<div class="logo_box">
    <a asp-controller="Dashboard" asp-action="Index">
        <img src="~/images/admin/logo.png" alt="cocoon" />
    </a>
</div>

<div class="side_menu_section">
    <ul class="menu_nav">
        <li>
            <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        </li>
        <li>
            <a asp-controller="Dictionary" asp-action="Index">Dictionary</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Services">Services</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Portfolio">Portfolio</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Blog">Blog</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Contact">Contact</a>
        </li>
    </ul>
</div>