<div class="side_menu_bottom">
    <div class="side_menu_bottom_inner">
        <ul class="social_menu">
            <li><a href="#"><i class="ion ion-social-pinterest"></i></a></li>
            <li><a href="#"><i class="ion ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion ion-social-dribbble"></i></a></li>
        </ul>
        <div class="copy_right">
            <p class="copyright">
                Copyright ©<script>document.write(new Date().getFullYear());</script>
                All rights reserved | <a target="_blank" href="#" title="模板">模板</a>
            </p>
        </div>
    </div>
</div>