<div class="col-lg-2 col-md-3 col-12 menu_block">
    @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Components/SideMenu/_LogoAndMenu.cshtml")
    @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Components/SideMenu/_FilterMenu.cshtml")
    @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Components/SideMenu/_Social.cshtml")
</div>